/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #2c3e50;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 60%;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background-color: #3498db;
  color: white;
} */
